<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DevOps Essentials</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="alert">Pipeline Devops - Glauber de Souza</div>
    <div class="alert">Pos-Graduado em Gestao de Infraestrutura de TI e apaixonado por inovacao.

✔️ Concluindo BasisOne e ativo grupo mentoria
✔️ Academia Executiva SAP BASIS com enfase em S4HANA| ECC | FIORI |

✔️ Tive uma incrivel experiencia trabalhando por doze anos no ramo educacional, em uma instituicao de ensino superior. Nesta tive conquistas pessoais, como promocao de carreira onde tive a oportunidade de ser supervisor de equipe onde conseguimos agregar em grupo e compartilhar de conquistas e crescimentos bilateral da equipe, claro com grande desafios entre eles de montar estruturas de laboratorios academicos em ambientes rixoso, encabecar a montagem de uma unidade universitaria em estado zero, com aquisicoes de todos os equipamentos de TI e suas necessidades subjacentes. Trabalhando com ferramentas Zabbix, Acronis, Backups, Windows Servers, Swuitches, redes, cabeamento estruturado, office365, Azure, modelo cascata, Scrum, Agile, Itil. E Com o empenho de toda a equipe, direcao academica e do corpo administrativo consumamos grandes notas de conceito maximo junto ao Ministerio da Educacao (MEC) com essa infraestrutura.

✔️ Em momento oportuno, trabalhei como Analista de Infraestrutura, o foco da corporacao era antifraude e desenvolvimento de software. Tinhamos como objetivo mitigar os riscos, monitorar o ambiente utilizando zabbix, grafana, executar deploys, prezar pela seguranca do ambiente critico dos clientes com ferramentas cibersecurity, gerenciar servidores, aplicacoes, criar procedimentos, executar backups. Conhecimento em docker, kubernets, Containerização cloud computing, Linux, Windows servers, office365, redes, virtualizacao e scripts.

✔️ Trabalho temporario em uma empresa de treinamento para SAP executando Tarefas de operação periódicas como:
Gestão de funções, usuários e segurança |Gerenciar incidentes ocorridos na plataforma SAP com nível 1,2 e fornecedores.
Integração direta com o SAP |Instalação do sistema
</div>


	<div class="container">
		<div class="logo">
			<img src="/static/imgs/4linux.jpg" alt="GLinux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
			<p class="keep-studying">Estude Sempre jovem!</p>
			
			<div class="devops-path path">
				<h1>Minha Trilha DevOps</h1>
				<a href="https://4linux.com.br/cursos/treinamento/ci-cd-integracao-e-entrega-continua-com-git-jenkins-nexus-e-sonar" class="devops-course course">
					<h2>524 - CI/CD: INTEGRAÇÃO E ENTREGA CONTINUA COM GIT, JENKINS, NEXUS E SONAR</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/infraestrutura-agil-com-praticas-devops" class="devops-course course">
					<h2>525 - INFRAESTRUTURA ÁGIL COM PRÁTICAS DEVOPS</h2>
				</a><!--
				--><a href="https://www.4linux.com.br/curso/continuous-monitoring" class="ops-course course">
					<h2>527 - DEVSECOPS: SEGURANÇA EM INFRAESTRUTURA E DESENVOLVIMENTO ÁGIL</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/praticas-de-continuous-monitoring-para-uma-infraestrutura-agil/" class="ops-course course">
					<h2>528 - PRÁTICAS DE CONTINUOUS MONITORING PARA UMA INFRAESTRUTURA ÁGIL</h2>
				</a>
			</div>
			
			<div class="ex-path path">
				<h1>Trilha Containers</h1>
				<a href="https://4linux.com.br/cursos/treinamento/docker-administracao-de-containers-dca" class="ex-course course">
					<h2>540 - DOCKER: ADMINISTRAÇÃO DE CONTAINERS – DCA</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/kubernetes-orquestracao-de-ambientes-escalaveis" class="ex-course course">
					<h2>541 - KUBERNETES: ORQUESTRAÇÃO DE AMBIENTES ESCALÁVEIS</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/openshift-administracao-paas-em-containers" class="ex-course course">
					<h2>542 - OPENSHIFT: ADMINISTRAÇÃO PAAS EM CONTAINERS/</h2>
				</a><!--
				--><a href="https://4linux.com.br/cursos/treinamento/gerenciamento-de-cluster-kubernetes-com-rancher" class="ex-course course">
					<h2>543 - GERENCIAMENTO DE CLUSTER KUBERNETES COM RANCHER</h2>
				</a>
			</div>
			
		</div>
	</div>

</body>

</html>
